In [2]:
import pandas as pd

In [3]:
import urllib
%matplotlib inline

In [4]:
dir = '../resources/data/'

In [5]:
#download dataset from source https://github.com/planetsig/ufo-reports
url = 'https://github.com/planetsig/ufo-reports/raw/master/csv-data/ufo-scrubbed-geocoded-time-standardized.csv'
response = urllib.request.urlopen(url)
data = response.read()
with open(dir + 'ufo-complete-geocoded-time-standardized.csv', 'wb') as f:
    f.write(data)

In [6]:
#read data into dataframe
df = pd.read_csv(dir + 'ufo-complete-geocoded-time-standardized.csv', 
                 names = ['datetime', 'city', 'state', 'country', 'shape', 'duration (seconds)', 
                          'duration (hours/minutes)', 'comments', 'date posted', 'latitude', 'longitude'])

C:\Users\tholl\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
#convert duration (seconds) to float
df['duration (seconds)'] = pd.to_numeric(df['duration (seconds)'], errors='coerce')

#convert date posted to datetime
df['date posted'] = pd.to_datetime(df['date posted'])

In [8]:
df.head(10)

,datetime,city,state,country,shape,duration (seconds),duration (hours/minutes),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,2004-04-27,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300.0,5 minutes,My father is now 89 my brother 52 the girl wit...,2007-04-27,36.5950000,-82.188889
6,10/10/1965 21:00,penarth (uk/wales),NaN,gb,circle,180.0,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2006-02-14,51.434722,-3.180000
7,10/10/1965 23:45,norwalk,ct,us,disk,1200.0,20 minutes,A bright orange color changing to reddish colo...,1999-10-02,41.1175000,-73.408333
8,10/10/1966 20:00,pell city,al,us,disk,180.0,3 minutes,Strobe Lighted disk shape object observed clos...,2009-03-19,33.5861111,-86.286111
9,10/10/1966 21:00,live oak,fl,us,disk,120.0,several minutes,Saucer zaps energy from powerline as my pregna...,2005-05-11,30.2947222,-82.984167

**Question 1** What is the most common 'shape' of a ufo seen?

In [9]:
ufo_shapes = df['shape'].value_counts()
print(ufo_shapes)
print("most common shape is light")

light        16565
triangle      7865
circle        7608
fireball      6208
other         5649
unknown       5584
sphere        5387
disk          5213
oval          3733
formation     2457
cigar         2057
changing      1962
flash         1328
rectangle     1297
cylinder      1283
diamond       1178
chevron        952
egg            759
teardrop       750
cone           316
cross          233
delta            7
round            2
crescent         2
hexagon          1
pyramid          1
dome             1
changed          1
flare            1
Name: shape, dtype: int64
most common shape is light

**Question 2** When was the first sighting? note: use the 'datetime' column

In [10]:
from datetime import datetime
df.sort_values('datetime', inplace=True)
df.head(1)

,datetime,city,state,country,shape,duration (seconds),duration (hours/minutes),comments,date posted,latitude,longitude
10580,1/1/1910 24:00,kirksville (near),mo,us,disk,120.0,minutes,Historical sighting (1903 - 1913) Northern Mis...,2005-09-15,40.1947222,-92.583056

**Question 3** What is the average length of a sighting?

In [11]:
df['duration (seconds)'].mean()

9017.225634092296

**Question 4** How many sightings were over 3 minutes?

In [12]:
df[(df['duration (seconds)'] > 180)].shape[0]

37685

**Question 5**: Of the sightings that were over 3 minutes, how many were in NJ?

In [13]:
df[(df['duration (seconds)'] > 180) & (df['state'] == 'nj')].shape[0]

686

**Question 6**: What state has the most ufo sightings?

In [15]:
df['state'].value_counts().head(1)

ca    9655
Name: state, dtype: int64

**Question 7**: Can you change the column header 'shape' to be called 'ufo shape'? Note we did not go over this in class. You will need to look through the documentation (http://pandas.pydata.org/pandas-docs/stable/)

In [17]:
df = df.rename(columns={'shape': 'ufo shape'})
df.head()

,datetime,city,state,country,ufo shape,duration (seconds),duration (hours/minutes),comments,date posted,latitude,longitude
10580,1/1/1910 24:00,kirksville (near),mo,us,disk,120.0,minutes,Historical sighting (1903 - 1913) Northern Mis...,2005-09-15,40.1947222,-92.583056
10813,1/1/1944 12:00,san diego,ca,us,cigar,180.0,3 minutes,A sighting of one silver or white enlongated c...,2004-07-25,32.7152778,-117.156389
10814,1/1/1947 17:00,manama (bahrain),NaN,NaN,circle,300.0,5 minutes,Slow moving circular craft&#44 15 whitnesses&...,2009-03-19,26.216667,50.583333
10815,1/1/1953 14:00,oklahoma/texas border,tx,NaN,cigar,300.0,5 minutes,Copper cigar-shaped object in early 1950&#39s.,2008-03-31,33.660135,-97.715556
10816,1/1/1953 24:00,nebraska (rural),ne,NaN,NaN,600.0,10 min,This is an account told to me by my mother tha...,2005-04-16,41.492537,-99.901813